# {{name}}


if asciinema
TODO: use id + asciinema for id
TODO: decide how / where to handle export of asciinema files
<div id='{{.Get "file"}}'></div>
<script>
 AsciinemaPlayer.create(
     "/asciinema/{{.Get "file" }}",
     document.getElementById('{{.Get "file"}}'),
     {terminalLineHeight: 2}
 );
 // terminalLineHeight: 2 because at larger font sizes the lines start to overlap.
</script>


else
